section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 250px;
    display: flex;
    flex-direction: column;

    input {
      height: 30px;
      border-radius: 5px;
      border: solid 1px black;
      margin-top: 10px;
      font-size: 15px;
      padding-left: 10px;
    }

    button {
      height: 30px;
      border-radius: 5px;
      border: 0;
      margin-top: 10px;
      background-color: lightblue;
    }

    .error-message {
      color: red;
      font-size: 11px;
    }
  }
}
