<section>
  <form [formGroup]="userForm">
    <input id="id" type="text" placeholder="아이디" formControlName="id" maxlength="12" (ngModelChange)="onChange()">
    <div class="error-message" *ngIf="!this.userForm.controls.id.pristine && this.userForm.controls.id.errors">
    <span *ngIf="this.userForm.controls.id.hasError('required') ||
        this.userForm.controls.id.hasError('minlength')">
      아이디를 6자 이상 작성해주세요.
    </span>
      <span *ngIf="!(this.userForm.controls.id.hasError('required') ||
        this.userForm.controls.id.hasError('minlength')) &&
        this.userForm.controls.id.hasError('existId')">
      존재하는 아이디입니다.
    </span>
    </div>
    <input id="password" type="password" placeholder="비밀번호" formControlName="password" maxlength="20">
    <div class="error-message"
         *ngIf="!this.userForm.controls.password.pristine && this.userForm.controls.password.errors">
    <span *ngIf="this.userForm.controls.password.hasError('required') ||
        this.userForm.controls.password.hasError('pattern')">
      비밀번호를 8자 이상 작성해주세요.
    </span>
    </div>
    <input id="confirm-password" type="password" placeholder="비밀번호 확인" formControlName="confirmPassword"
           maxlength="20">
    <div class="error-message"
         *ngIf="!this.userForm.controls.confirmPassword.pristine && this.userForm.controls.confirmPassword.errors">
    <span *ngIf="this.userForm.controls.confirmPassword.hasError('mustMatch')">
      비밀번호가 일치하지 않습니다
    </span>
    </div>
    <button type="submit" (click)="onSubmit()">저장</button>
  </form>
</section>
